{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block title %}bookmark_form.html{% endblock %}


{% block header %}

  <header class="masthead" style="background-image: url({% static 'img/home-bg.jph' %})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Bookmark Form</h1>
            <span class="subheading">북마크 작성 양식</span>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock %}
{% block content %}

    <h1>Bookmark Create/Update - {{user}}</h1>
    <p class="font-italic">This is a creation or update form for your bookmark.</p>

    {% if form.errors %}
    <div class="alert alert-danger">
        <div class="font-weight-bold">Wrong! Please correct the error(s) below.</div>
        {{ form.errors }}
    </div>
    {% endif %}

    <form action="." method="post" class="card pt-3">{% csrf_token %}

     <div class="form-group">
         TITLE: <input type="text" class="form-control" name="title" placeholder="제목">
     </div>
        <div class="form-group">
            URL:<input type="url" name="url" class="form-control" placeholder="URL">
        </div>
        <div class="form-group">
            <div class="offset-sm-2 col-sm-5">
                <input type="submit" value="Submit" class="btn btn-info"/>
            </div>
        </div>

    </form>
{% endblock %}