{% extends "base.html" %}

{% block title %}post_change_list.html{% endblock %}

{% load static %}
{% block header %}

  <header class="masthead" style="background-image: url({% static 'img/home-bg.jph' %})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Post Change</h1>
            <span class="subheading">포스트 수정 리스트</span>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock %}
{% block content %}

    <h1>Post Change - {{user}}</h1>
    <br>

    <table class="table table-bordered table-sm table-striped">

        <thead>
        <tr class="table-primary">
            <th>Title</th>
            <th>Description</th>
            <th>Owner</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        </thead>

        <tbody>
        {% for item in object_list %}
        <tr>
            <td>{{ item.title }}</td>
            <td>{{ item.description }}</td>
            <td>{{ item.owner }}</td>
            <td><a href="{% url 'blog:update' item.id %}">Update</a></td>
            <td><a href="{% url 'blog:delete' item.id %}">Delete</a></td>
        </tr>
        {% endfor %}
        </tbody>

    </table>

{% endblock %}